@import "tailwindcss";

@theme inline {
  --color-neo-lime: #ccff00;
  --color-neo-pink: #ff00ea;
  --color-neo-blue: #00f0ff;
  --color-neo-orange: #ff4d00;
  
  --shadow-brutal: 6px 6px 0px 0px rgba(0,0,0,1);
  --shadow-brutal-sm: 4px 4px 0px 0px rgba(0,0,0,1);
  --shadow-brutal-hover: 2px 2px 0px 0px rgba(0,0,0,1);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f4f4f0; 
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

::selection {
  background: var(--color-neo-lime);
  color: black;
}
